<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <form id='addProgress-form'>
    <div class="modal-dialog form-group">
      <div class="modal-content">
        <div class="modal-header">
          <input type="hidden" class="bankId">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Add Cash</h4>
          <input type="text" id="cashValue" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="0$">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary cashSubmit">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>