<form id="newBankForm">
  <h3>Item Name: </h3>
      <input name="name" type="text" class="form-control" id="itemName" required>
  <h3>Item Price: </h3>
      <input name="cost" type="text" class="form-control" id="itemCost" required>
      <button type ="submit" class="btn btn-default btn-lg"><span class="bank-button">Create Bank</span></button>
</form>