<div class="item-update-form form-group">
	<input type="text" class="form-control" id="itemUpdate" placeholder:<%=bank.itemName%>>
	<button type="button" class="btn btn-default itemUpdateSubmit">Update</button>
</div>