<div class="item-update-form form-group" style='display:none;'>
	<input type="text" class="form-control item-update-field">
	<button type="button" class="btn btn-default itemUpdateSubmit">Update!</button>
</div>